@model PSCS.ModelsScreen.CommonMasterScreen

@{
    ViewBag.Title = PSCS.Resources.PSC8060_cshtml.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script language="javascript" type="text/javascript">

        $('.mvc-grid tr').on('rowclick', function (e) {

        link = '@Url.Action("PSC8060_Edit", "CommonMaster")';  // url should be enclosed by single quotes.
            window.location.href = link + "?parentCode=" + $(e.target).children("td:nth-child(2)").text() + "&commonCode=" + $(e.target).children("td:nth-child(3)").text();

        });

        $('.mvc-grid th').click(function (e) {
            var col = this.cellIndex;
            if (col == 0) {
                e.stopPropagation();
            }
        });

        $("#btnAdd").click(function () {
            var link = '@Url.Action("PSC8060_Edit", "CommonMaster")';
            window.location.href = '@Url.Action("PSC8060_Edit", "CommonMaster")';
        });

    </script>
    }
    <!-- Title -->
    <h1 class="H1">@PSCS.Resources.PSC8060_cshtml.Title</h1>

    @using (Html.BeginForm("PSC8060", "CommonMaster", FormMethod.Post))
    {
        <table border="0" cellSpacing="0" cellPadding="0" width="100%">
            <!-- Alert Area  -->
            <tr>
                <td>
                    <div class="details @(@Model.AlertsType == PSCS.Common.Constants.AlertsType.None ? "hide" : @Model.AlertsType == PSCS.Common.Constants.AlertsType.Success ? "show alert alert-success" : @Model.AlertsType == PSCS.Common.Constants.AlertsType.Infomation ? "show alert alert-info" : @Model.AlertsType == PSCS.Common.Constants.AlertsType.Warning ? "show alert alert-warning" : @Model.AlertsType == PSCS.Common.Constants.AlertsType.Danger ? "show alert alert-danger" : "hide")" )>
                        @if (Model.AlertsType == PSCS.Common.Constants.AlertsType.Success)
                        {<strong>@PSCS.Resources.Common_cshtml.Success</strong>}
                        @if (Model.AlertsType == PSCS.Common.Constants.AlertsType.Infomation)
                        {<strong>@PSCS.Resources.Common_cshtml.Information</strong>}
                        @if (Model.AlertsType == PSCS.Common.Constants.AlertsType.Warning)
                        {<strong>@PSCS.Resources.Common_cshtml.Warning</strong>}
                        @if (Model.AlertsType == PSCS.Common.Constants.AlertsType.Danger)
                        {<strong>@PSCS.Resources.Common_cshtml.Error</strong>}
                        <label calss="field-validation-error">@Html.DisplayFor(model => model.Message)</label>
                    </div>
                </td>
            </tr>

            <!-- Button Area  -->
            <tr>
                <th>
                    <table align="right">
                        <tr>
                            <th>
                                <input type="button" id="btnAdd" value="@PSCS.Resources.PSC8060_cshtml.Button_Add" class="btn btn-large btn-skyblue" />
                            </th>
                        </tr>
                    </table>
                </th>
            </tr>

            <tr>
                <th height="5px"></th>
            </tr>

            <!--Grid Area -->
            <tr>
                <th>
                    @(Html
                        .Grid(Model.CommonMasterList)
                        .Build(columns =>
                        {
                            columns.Add(model => model.RowNo).Titled(@PSCS.Resources.PSC8060_cshtml.Gride_RowNo).Css("gridtext-center");
                            columns.Add(model => model.ParentCode).Titled(@PSCS.Resources.PSC8060_cshtml.Gride_ParentCode).Css("gridtext-center");
                            columns.Add(model => model.CommonCode).Titled(@PSCS.Resources.PSC8060_cshtml.Gride_CommonCode).Css("gridtext-center");
                            columns.Add(model => model.ValueEn).Titled(@PSCS.Resources.PSC8060_cshtml.Gride_ValueEn);
                            columns.Add(model => model.ValueTh).Titled(@PSCS.Resources.PSC8060_cshtml.GrideValueTh);
                        })
                        .Css("table-hover")
                         .Empty(PSCS.Resources.Common_cshtml.NoDataFound)
                        .Sortable()
                    )
                </th>
            </tr>
        </table>
    }



