@model  IEnumerable<PSCS.Models.StockCheck>

@* Should only include grid declaration *@

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.RowNo).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_RowNo).Css("gridtext-center");
            columns.Add(model => model.StockCheckDate).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_CheckDate).Formatted("{0:yyyy-MM-dd}");
            columns.Add(model => model.YardName).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Yard);
            columns.Add(model => model.LocationName).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Location);
            columns.Add(model => model.ItemCode).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Item).AppendCss("hide");
            columns.Add(model => model.HeatNo).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_HeatNo);
            columns.Add(model => model.Description).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Description);
            columns.Add(model => model.Qty).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Qty).Css("gridtext-right");
            columns.Add(model => model.ActualQty).Titled(@PSCS.Resources.PSC2310_cshtml.Grid_ActualQty).Css("gridtext-right");
            columns.Add(model => model.Status).AppendCss("hide");
            columns.Add(model => "<span id='Statuslbl' class='display-mode'>" + model.StatusText + "</span>" +
                                 @Html.DropDownList("statusTxt", model.StatusList, new { @id = "StatusTxt", @class = "form-control edit edit-mode" }))
                                 .Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Status).Encoded(false);
            columns.Add(model => "<span id='Remarklbl' class='display-mode'>" + model.Remark + "</span>" +
                                 "<input id='RemarkTxt' class='form-control edit edit-mode' value=\"" + model.Remark + "\" />")
                                 .Titled(@PSCS.Resources.PSC2310_cshtml.Grid_Remark).Encoded(false);
        })
        .Id("GridVisor")
        .Attributed(new { id = "plan-tb" })
        .Css("table-hover")
        .Empty(PSCS.Resources.Common_cshtml.NoDataFound)
        .Sortable()
)